@import url('../node_modules/normalize.css/normalize.css');

body {
  background: darkred;
  font-family: 'BlinkMacSystemFont';
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  padding: 0 0 1rem 0;
  list-style: none;
}

img {
  display: block;
  width: 50%;
  padding: .75rem 0 1rem 0;
}
